.qiantao {
    padding: 10px;
    margin: 50px 30px;
    list-style: none;
    li {
        font-size: 14px;
        line-height: 20px;
        text-align: right;
        color: blue;
        &:hover {
            text-align: center;
        }
    }
    span:hover {
        color: red;
    }
}